検証用に使用するデータセットを呼び出し、且つ保存する

In [13]:
#ワーキングディレクトリの変更
setwd("C:/Users/yusukekita/Documents/github/anomaly_detection/dataset")
getwd()

[1] "C:/Users/yusukekita/Documents/github/anomaly_detection/dataset"

1. Davis

In [4]:
library(car)
data(Davis)
head(Davis)

  sex weight height repwt repht
1 M   77     182    77    180
2 F   58     161    51    159
3 F   53     161    54    158
4 M   68     177    70    175
5 F   59     157    59    155
6 M   76     170    76    165

In [14]:
write.table(Davis, "Davis.csv", append = F,sep = ",", row.names = F)

2. car

In [16]:
library(MASS)
head(road)

        deaths drivers popden rural temp fuel
Alabama  968   158      64.0   66.0 62   119.0
Alaska    43    11       0.4    5.9 30     6.2
Arizona  588    91      12.0   33.0 64    65.0
Arkanas  640    92      34.0   73.0 51    74.0
Calif   4743   952     100.0  118.0 65   105.0
Colo     566   109      17.0   73.0 42    78.0

In [20]:
write.csv(road, "road.csv")

3. Cars93

In [21]:
head(Cars93)

  Manufacturer Model   Type    Min.Price Price Max.Price MPG.city MPG.highway
1 Acura        Integra Small   12.9      15.9  18.8      25       31
2 Acura        Legend  Midsize 29.2      33.9  38.7      18       25
3 Audi         90      Compact 25.9      29.1  32.3      20       26
4 Audi         100     Midsize 30.8      37.7  44.6      19       26
5 BMW          535i    Midsize 23.7      30.0  36.2      22       30
6 Buick        Century Midsize 14.2      15.7  17.3      22       31
  AirBags            DriveTrain ⋯ Passengers Length Wheelbase Width Turn.circle
1 None               Front      ⋯ 5          177    102       68    37
2 Driver & Passenger Front      ⋯ 5          195    115       71    38
3 Driver only        Front      ⋯ 5          180    102       67    37
4 Driver & Passenger Front      ⋯ 6          193    106       70    37
5 Driver only        Rear       ⋯ 4          186    109       69    39
6 Driver only        Front      ⋯ 6          189    105       69    41
  Rear.seat.room Luggage.room Weight Origin  Make
1 26.5           11           2705   non-USA Acura Integra
2 30.0           15           3560   non-USA Acura Legend
3 28.0           14           3375   non-USA Audi 90
4 31.0           17           3405   non-USA Audi 100
5 27.0           13           3640   non-USA BMW 535i
6 28.0           16           2880   USA     Buick Century

In [22]:
write.csv(Cars93, "Cars93.csv")